@charset "utf-8";
/* CSS Document */

/* FOOTER */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */




.container{
	max-width: 1170px;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer{
    padding-top:1vh;
	padding-bottom: 1vh;
	background-color: var(--button-color);
	
}
.footer-col{
   width: 22%;
   padding: 0 15px;
}
.footer-col h2{
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h2::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #5585b5;
	height: 2px;
	box-sizing: border-box;
	width: 70px;
}
.footer-col ul{
	list-style: none;
	color: var(--hover-color);
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
	
	#rights{
		font-size: 1vh;
	}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
	
	#rights{
		font-size: 1vh;
	}
}
