section{
    min-height: 100vh;
}

.landing{
    display: flex;
    justify-content: space-between;
    
}
.heading{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3vh;
}
.heading h1{
    font-size: 9vw;
    /* make it bold   */
    
    letter-spacing: 5px;
    background-image: url(../img/clouds.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    top: 29%;
    text-transform: uppercase;
    line-height: 16vh;
}

.heading p{
    margin-top: 6vh;
    font-size: 1.5rem;
    /* letter-spacing: 2px */
    text-transform: uppercase;
    line-height: 5vh;
    
}

.landing-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.landing-image img{
    /* filter: blur(2px); */
    width: 600px;
    height: 800px;

}

svg{
    /* set color  */
    fill: #142d4c
}

.first-baner{
  margin-top: 20vh;
  margin-bottom: 10vh;
}



/* napravi animaciju da se landing heading pojavi sa 1 sekundom zakasnjena od trenutka ucitavanja stranice */


.landing .heading h1{
    opacity: 0; /* Postavljamo početnu transparentnost na 0 */
    animation: fadeIn 2s ease forwards; /* Dodajemo animaciju */

  }

.landing .heading p {
    opacity: 0;
    animation: sladeInLeft 2s ease forwards; /* Dodajemo animaciju */
    animation-delay: 0.5s;

  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


@keyframes sladeInLeft {
    from {
    transform: translateX(-5%);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
    }

/* Napraviti da se slika zumira pri ucitavanju stranice */


.landing-image img {
  animation: slideInRight 1s ease forwards;
}