@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        padding-right: 10vw;
    }

    h2{

    }

    p{

    }
    
    .landing{
        /* padding-top: 20vh; */
        /* padding-bottom: 10vh; */
        display: flex;
        flex-direction: column;
        min-height: 90vh;
    }

    .landing-h1{
        font-size: rem;
    }

    .landing p{
        font-size: 1.25rem;
        width: 70vw;
    }


    .landing img{
        display: none;
    }

    .baner{
        display: flex;
        flex-direction: column;
    }

    .baner h1{
        font-weight: 900;
        font-size: 7vw;
        line-height: 8vh;
    }

    .right-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20ch;
    }

    .right-section-heading{
        align-items: center;
        
    }

    .right-section h2{
        text-align: center;
    }

    .right-section p{
        text-align: center;
    }

    .right-section img{
        /* /* height: 60vh; */
        width: 50vh; 
        height: auto;
    }

    /*  */

    .left-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left-section div:first-child{
        order: 1;
    }

    .left-section-heading{
        align-items: center;
        
    }

    .left-section h2{
        text-align: center;
    }

    .left-section p{
        text-align: center;
    }

    .left-section img{
        height: 60vh;
        width: 50vh;
    }

    .footer {
        padding: 3vh 6vw 0;
    }

    .footer .container{
        

        justify-content: center;
        justify-self: center;
    }

    .row{
        flex-direction: column;
        align-items: center;
    }

    .footer-col{
        text-align: center;
        align-items: center;
        margin-top: 20px;

    }

    .footer-col h2{
        margin-bottom: 20px;
    }

    .footer-col h2::before{
        display: none;
    }
    

    .landing-left-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding-top: 15vh; */
        

    }

    .landing-left-section div:first-child{
        order: 1;
    }

    .landing-left-section-heading{
        
        align-items: start;
        
    }

    .landing-left-section h2{
        text-align: start;
    }
    .landing-left-section p{
        text-align: start;
    }

    .landing-left-section-image{
        display: none;
    }

    .landing-right-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding-top: 15vh; */
    }

    .landing-right-section-heading{
        align-items: left;   
    }

    .landing-right-section h2{
        text-align: left;
    }

    .landing-right-section p{
        text-align: left;
    }

    .landing-right-section-image{
        display: none;
    }

    .services{
        /* margin-top: 20vh; */
        /* margin-bottom: 10vh; */
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services-heading{
        padding-bottom: 4vh;
    }

    .services p{
        text-align: left;
    }

    .services-list-container{

        display: block;
        align-items: start;
        justify-content: start;
        padding-bottom: 10vh;
        /* padding-left: -20vw; */

    }

    .services-list{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-bottom: 5vh;
    }

    .project-container {
        /* background-image: url(../img/project1.jpeg); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 40vh;
        margin-bottom: 15vh;
    } 

    .project-info{
        padding: 5vh 5vw;
        /* fit to parent */
        height: 30vh;
        width: 15vw;
    }

    .project-heading{
        padding-bottom: 6vh;
        background-color: none;
    }
    

}

@media screen and (max-width: 600px) {

    .landing{
        min-height: 20vh;
        padding-left: 4vw;
    }


    .landing h1{
        line-height: 8vh;

    }


    .baner{
        min-height: 40vh;

    }

    .baner h1{
        font-size: 8vw;
        line-height: 8vh;
    }

    .right-section{
        padding-left: 0vw;
        min-height: 60vh;
        padding-bottom:5vh;
    }
    .right-section h2{
        font-size: 9vw;
    }

    .right-section p{
        font-size: 1rem;
    }

    .left-section h2{
        font-size: 9vw;
    }

    .right-section p{
        font-size: 1rem;
    }

    .right-section-image{
        /* display: none; */
    }

    .landing-left-section{
        padding-top: 0vh;
    }

    .landing-left-section h1{
        font-size: 16vw;
        line-height: 8vh;
    }

    .landing-left-section h2{
        font-size: 9vw;
    }

    .landing-left-section p{
        font-size: 1rem;
    }

    .landing-left-section-image{
        display: none;
    }

    .about-us{
        padding-bottom: 15vh;
    }
    .about-us h2{
        font-size: 2rem;
    }

    .about-us p{
        font-size: 1rem;
    }


    .left-section{
        padding-top: 15vh;
        /* padding-left: 0vw; */
        min-height: 60vh;
    }

    .left-section h2{
        font-size: 9vw;
    }

    .left-section p{
        font-size: 1rem;
    }

    .left-section-heading{
        padding-bottom: 8vh;

    }

    .services-heading{
        padding-bottom: 4vh;
    }

    .landing-right-section{
        padding-top: 0vh;
    }

    .landing-right-section-heading{
        padding-bottom: 8vh;
    }

    .landing-right-section h1{
        font-size: 16vw;
        line-height: 8vh;
    }

    .landing-right-section h2{
        font-size: 9vw;
    }

    .landing-right-section p{
        font-size: 1rem;
    }

    .landing-right-section-image{
        display: none;
    }

    .services-heading{
        padding-bottom: 4vh;
    }

    .services h2{
        font-size: 9vw;
        font-weight: 900;
        margin-bottom: 2vh;
        padding-top: 0vh;
        padding-bottom: 0vh;
    }

    .services p{
        font-size: 1rem;
        text-align: left;
        padding-bottom: 4vh;
        font-weight: 400;
        padding-bottom: 0vh;
    }

    .services-list-container{

        display: block;
        align-items: start;
        justify-content: start;
        padding-bottom: 10vh;
        /* padding-left: -20vw; */

    }

    .services-list h2{
        font-size: 2rem;

    }

    .services-list li{
        font-size: 1rem;
    }

    .services-list-container{
        padding-bottom: 0vh;
    }

    .footer-col{
        padding: 0;
    }

    .footer{
        padding-top: 0vh;
    }

    .projects-landing{
        min-height: 60vh;
    }

    .project-container {
        height: 30vh;
        margin-bottom: 10vh;
    }

    .project-info{
        padding: 2vh 2vw;
        height: 26vh;
        width: 30vw;
    }
    
    .project-heading{
        padding-bottom: 4vh;
        font-weight: 900 ;
        font-size: 2rem;
        background-color: none;
    }

    .project-info h1{
        font-size: 0.7rem;
    }

    .project-info p{
        font-size: 1rem;
    }

}