

.project-container{
    /* background-image: url(../img/project1.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    margin-bottom: 15vh;


}

.project-left{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50vh;
    margin-bottom: 15vh;
}

.project-right{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50vh;
    margin-bottom: 15vh;
}

.project-heading{
    justify-self: start;
    align-self: center;
    text-transform: uppercase;
    font-size: 3vw;
    color: #fff;
   /* background-color: rgba(0, 0, 0, 0.3);  */
    padding-right: 2vw;
    padding-left: 5vw;
    font-weight: bold;
    letter-spacing: 5px; 
}

/*OPIS PROJEKTA*/
.project-info{
    display: grid;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    color: #fff;
    font-size: 1vw;
    font-weight: 400;
    height: 100%;
}

.project-info *{
    text-align: center;
    margin: 5px 0;
    letter-spacing: 2px;
}

.project-info h1{
    align-self: end;
}

.project-info p{
    align-self: start;
}